.content{
  background: url('../../../assets/highway.jpg');
  background-size: cover;
  height: 100vh;
  box-shadow: inset 10px 10px 10px 3000px rgba(255,255,255,0.5);
}

.subtitle {
  color: #FFF !important;
}